<div class="row">
  <div class="large-12 columns" style="text-align:center">
    <h2 style="font-family:'Nixie One'"><span style="font-family:Rochester;">Curliceu<span style="font-size:.3rem;position:relative;top:.1rem;">&trade;</span></span> Contact Info<h2>
    </div>
  </div>
<div class="row">
  <div class="large-12 columns">
    Curliceu<br>
    11501 Valley View Road<br>
    Louisville, KY 40223</br>
    <a href="mailto:admin@curlic.eu">admin@curlic.eu</a>
  </div>
</div>
